/* Reset base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Helvetica Now Text", sans-serif;
    background-color: #DFC1A6;
    color: black;
  }
  
/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #5A0E0E;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    z-index: 1000; /* Assicura che stia sopra gli altri elementi */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  }
  
  /* Per evitare che il contenuto si sovrapponga all'header */
  body {
    padding-top: 50px; /* Regola questo valore in base all'altezza effettiva dell'header */
  }
  
  
  
  .menu {
    font-size: 24px;
    cursor: pointer;
  }
  
  .title {
    font-size: 14px;
    font-weight: bold;
  }
  
  /* Sezione Projects */
  .project-section {
    padding: 50px 10%;
    background-color: #DFC1A6;
  }
  
  /* Header con icona e testo */
  .project-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-align: right;
    max-width: 900px;
    margin: auto;
  }
  
  .project-icon {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  }
  
  .project-description {
    max-width: 500px;
  }
  
  .project-description h2 {
    font-size: 18px;
    font-weight: bold;
    color: #5A0E0E;
  }
  
  .project-description p {
    font-size: 16px;
    line-height: 1.5;
    text-align: right;
  }
  
  /* Contenitore progetti */
  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
  }
  
  .project-item {
    position: relative;
    width: 80%;
    max-width: 700px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  }
  
  .project-item img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* Pulsante HOME */
  .project-button {
    margin-top: 40px;
    text-align: center;
  }
  
  .project-button a {
    text-decoration: none;
    color: #640D14;
    font-weight: bold;
    font-size: 14px;
  }

  /* Pulsante CONTACTS */
  .home-button {
    margin-top: 40px;
    text-align: center;
  }
  
  .home-button a {
    text-decoration: none;
    color: #640D14;
    font-weight: bold;
    font-size: 14px;
  }
  
  /* Footer */
  footer {
    background-color: #250902;
    color: white;
    padding: 20px;
    font-size: 14px;
    text-align: center;
  }

  /* Stile responsive */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }
  
    .image img {
        max-width: 100%;
    }
  }
  
  